.header{
	height: 10vh; /* 高さ */
	width: 100%; /* 長さ */
	background-color: #ffffff;
	position: fixed; /* ヘッダーを固定(これが重要) */
	top: 0; /* 固定する位置 */
	left: 0; /* 固定する位置 */
	right: 0;  /* 固定する位置 */
	position:　absolute;
	z-index: 3;
}



.first{
	padding-top: 12vh;
}


/*リンクの色はなし*/
a {
	text-decoration: none;
	/* background-color :#cccccc; */
}
/*リンクの色はなし*/
.link {
	color:#4f4f4f
}
.link:hover {
	background-color :#4f4f4f;
	color:#ffffff
}


@media screen and (min-width:980px){

	h1{
		font-size: 200%;
		color: #000000;
		margin-bottom: -10px;
	}

	h2{
	    margin-bottom:10px;
	}


	/*本文のレイアウト指定*/
	body{
		margin-left: 25%;
		margin-right: 20%;
		margin-bottom: 50px;
		color: #4f4f4f;
    font-family: 'ヒラギノ角ゴ Pro W3';
		font-size: 100%;
	}

	/*ヘッダのフォント設定*/
	.head_font{
		padding-left: 25%;
		font-family: HelveticaNeue-Thin, "sans-serif";
		font-weight: lighter;
		color: #000000;
		margin-top: 3vh;
		font-size: 3vh;
	}
}

.button_open {
  display       : inline-block;
  border-radius : 20%;          /* 角丸       */
  font-size     : 14pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 8px 10px;   /* 余白       */
  background    : #e3ab30;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #e3ab30;    /* 枠の指定 */
}
.button_open:hover {
  color         : #e3ab30;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}

.button_close {
	margin-left: -10px;
  display       : inline-block;
  border-radius : 20%;          /* 角丸       */
  font-size     : 14pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 8px 10px;   /* 余白       */
  background    : #6bb6bb;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #6bb6bb;    /* 枠の指定 */
}
.button_close:hover {
  color         : #6bb6bb;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}


@media screen and (max-width:980px){
	h1{
		font-size: 5vh;
		color: #000000;
	}

	h2{
	    margin-bottom:-40px;
	}

	/*本文のレイアウト指定*/
	body{
		margin-left: 5%;
		margin-right: 5%;
		margin-bottom: 50px;
		color: #4f4f4f;
    font-family: 'ヒラギノ角ゴ Pro W3';
		font-size: 2.4vh;
	}

	/*ヘッダのフォント設定*/
	.head_font{
		padding-left: 5%;
		font-family: HelveticaNeue-Thin, "sans-serif";
		font-weight: lighter;
		color: #000000;
		margin-top: 3vh;
		font-size: 3vh;
	}
}
